nav {
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 1px;
  }
  
  .logo img {
    height: 30%; /* Ajusta el valor según tus necesidades */
    width: auto;
    max-height: 30%;
    max-width: 30%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  li {
    display: inline;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /* ------------------------- PORTADA ------------------------- */

#portada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-container {
  width: 1200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.info p {
  width: 80%;
  color: var(--text-grey);
  text-align: center;
}

.portada-container img {
  width: 600px;
}

.info-boton {
  background: var(--lightblue);
  color: black;
  border: 1px var(--text-grey) solid;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
}




/* section about */
#about{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-text{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px;
  gap: 20px;
}

.about-text p{
  color: #121220;
  font-size: 20px;
  font-weight:800;
  width: fit-content;


}